<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{dictionary?.list?.title}}</ion-title>
    <ion-buttons right>
      <button ion-button
              icon-only
              (click)="addEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getEvents($event)"
                 placeholder="{{dictionary?.list?.inputs?.search}}"></ion-searchbar>
  <img src="assets/sampleLogoEvent.jpg"
       *ngIf="events.length == 0" />
  <ion-list *ngIf="events.length > 0">
    <ion-item *ngFor="let puketeEvent of events"
              [@eventItemAnimation]>
      <h2 (click)="goToPage(puketeEvent)">{{ puketeEvent.name }}</h2>
      <p (click)="goToPage(puketeEvent)">{{dictionary?.list?.created}}: {{ puketeEvent.creationDate }}</p>
      <button ion-button
              color="danger"
              (click)="removeEvent(puketeEvent)"
              item-end>
              <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>

  </ion-list>
</ion-content>