<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{dictionary?.list?.title}}</ion-title>
    <ion-buttons right>
      <button ion-button
              color="primary"
              icon-only
              clear
              (click)="addEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="items.length == 0"
       class="no-person-container">
    <img src="assets/empty-image.png"
         alt="noPersonsMouseImage"
         class="mouse-no-person">
    <img src="assets/eventslits-arrow.png"
         alt="noPersonsArrowImage"
         class="arrow-no-person">
    <p text-center
       class="no-person-desc">Hmmm....</p>
    <h6 text-center
        class="no-person-desc">{{dictionary?.list?.noPersonDescription}}</h6>
  </div>
  <ion-searchbar (ionInput)="getEvents($event)"
                 *ngIf="items.length > 0"
                 placeholder="{{dictionary?.list?.inputs?.search}}"></ion-searchbar>
  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let puketeEvent of events"
              [@eventItemAnimation]>
      <h2 (click)="goToPage(puketeEvent)">{{ puketeEvent.name }}</h2>
      <p (click)="goToPage(puketeEvent)">{{dictionary?.list?.created}}: {{ puketeEvent.creationDate }}</p>
      <button ion-button
              color="dark"
              clear
              (click)="removeEvent(puketeEvent)"
              item-end>
              <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>

  </ion-list>
</ion-content>