results-page {
    .person-gets{
        color: #32db64;
    }
    .person-gives{
        color: #f53d3d;
        font-size: x-small;
    }
    .person-equal{
        color: #000;
    }
    .payment-details{
        font-size: x-small;
    }
    .event-total{
        color: #488aff
    }
}