results-page {
    h1, h2, p{
        white-space: normal;
    }
    .person-gets{
        color: #32db64;
    }
    .person-gives{
        color: #f53d3d;
    }
    .person-equal{
        color: lightgray;
    }
    .payment-details{
        font-size: smaller;
    }
    .event-total{
        color: #488aff
    }
}