results-page {
    h1, h2, p{
        white-space: normal;
    }
    .person-gets{
        color: color($colors, primary) !important;
        font-weight: bold !important;
    }
    .person-gives{
        color: color($colors, danger) !important;
        font-weight: bold !important;
    }
    .person-equal{
        color: color($colors, light) !important;
        font-weight: bold !important;
    }
    .payment-details{
        line-height: 20px;
        font-size: x-small;
    }
    .event-total{
        color: color($colors, secondary) !important;
    }
    .sing-show-hide{
        font-size: xx-large;
        font-weight: bold;
        color: color($colors, light) !important;
    }
}