event-details-page {
    .error-message{
        color: #f53d3d !important;
    }
    .error-message-header{
        color: #f53d3d !important;
        font-size: smaller;
    }
    .expense-input{
        padding-left: 0px;
    }

    .save-button{
        margin: 0px;
    }
    .expense-title{
        color: #488aff;
        margin-left: 8px;
    }
}