help-page {
    img {
            max-width: 80% !important;
    }

    ion-icon{
        font-size: -webkit-xxx-large;
    }

    ion-avatar{
        width: 60px;
    }

    p{
        white-space: initial;
    }
}