<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-input type="text"
               placeholder="{{dictionary?.index?.inputs?.event}}"
               *ngIf="event?.name"
               [(ngModel)]="event.name"
               (blur)="finishEditingName()"></ion-input>
    <ion-buttons right>
      <button ion-button
              icon-only
              (click)="addEvent()"
              [disabled]="event?.persons?.length < 1">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let person of event?.persons">
    <ion-item *ngIf="person?.name">
      {{person?.name}} <strong>{{dictionary?.index?.alreadyPaid}}: ${{(person.drinkAmount - -person.foodAmount - -person.othersAmount) |
      number:'1.2-2'}}</strong>
      <button ion-button
              icon-only
              item-end
              clear
              color="danger"
              (click)="removePerson(person)">
        <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item>
    <ion-card-content>
      <ion-item class="persons-input">
        <ion-input type="text"
                   placeholder="{{dictionary?.index?.inputs?.person}}"
                   [(ngModel)]="person.name"
                   (blur)="checkPersonsName(person)"
                   (keyup)="checkPersonsName(person)"
                   required>
        </ion-input>
      </ion-item>
      <span class="error-message">{{person.error}}</span>

      <div class="checkbox-container">
        <p class="expenses-descriptions-first">{{dictionary?.index?.inputs?.alreadyPaid}}</p>
        <div class="expenses-container">
          <ion-input type="number"
                     [(ngModel)]="person.drinkAmount">
          </ion-input>
          <span class="expenses-input-description">{{dictionary?.index?.labels?.drinks}}</span>
        </div>
        <div class="expenses-container">
          <ion-input type="number"
                     [(ngModel)]="person.foodAmount">
          </ion-input>
          <span class="expenses-input-description">{{dictionary?.index?.labels?.food}}</span>
        </div>
        <div class="expenses-container">
          <ion-input type="number"
                     [(ngModel)]="person.othersAmount">
          </ion-input>
          <span class="expenses-input-description">{{dictionary?.index?.labels?.others}}</span>
        </div>
      </div>

      <div class="checkbox-container">
        <p class="expenses-descriptions-second">{{dictionary?.index?.inputs?.isCounted}}</p>
        <ion-item class="checkbox-counted">
          <ion-label>{{dictionary?.index?.labels?.drinks}}</ion-label>
          <ion-checkbox [(ngModel)]="person.inDrink"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-counted">
          <ion-label>{{dictionary?.index?.labels?.food}}</ion-label>
          <ion-checkbox [(ngModel)]="person.inFood"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-counted">
          <ion-label>{{dictionary?.index?.labels?.others}}</ion-label>
          <ion-checkbox [(ngModel)]="person.inOthers"></ion-checkbox>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="addPerson()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button
              icon-only
              (click)="calculate()"
              [disabled]="errorsOnTheEvent">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>