index-page {
    .person-item{
        padding: 0px !important;
    }

    .event-input{
        padding: 0px;
    }

    .persons-input{
        padding-left: 0px;
        margin-bottom: 5px;
        input{
            margin-left: 0px;
        }
    }

    .error-message{
        color: #f53d3d !important;
    }

    .expenses-descriptions-first{
        margin: 0;
        font-size: x-small;
        padding-right: 10px;
        text-align: left;
        vertical-align: middle;
        display: table-cell;
    }

    .expenses-descriptions-second{
        margin: 0;
        font-size: x-small;
        text-align: left;
        vertical-align: middle;
        display: table-cell;
    }


    ion-checkbox{
        margin-right: 5px !important;
        button{
            padding: 0px;
        }
    }

    .checkbox-container{
        display: table;
        max-height: 45px;
        height: 45px;
        width: 100%;
        ion-input{
            float: left;
            padding-left: 0px;
        }
        .item-inner{
            border-bottom: 0px !important;
            ion-label{
                margin: 0px !important;
                font-size: x-small !important;
            }
        }
        .expenses-container{
            display: grid !important;
            max-width: 63px;
            float: left;
            margin-top: 10px;
            input{
                margin: 0px;
            }
            span{
                    font-size: x-small !important;
            }
        }
    }

    .checkbox-counted {
        max-width: 63px;
        float: left;
        padding-left: 0px;
    }
}

#drinks-input{
    border-color: #f53d3d;
    max-width: 30%;
    float: left;
    margin-right: 5px;
    }

#food-input{
    border-color: #32db64;
        max-width: 30%;
    float: left;
    margin-right: 5px;
}

#others-input{
    border-color: #222;
        max-width: 30%;
    float: left;
}

.resume-alert{
        >div {
            .alert-head{
                padding-bottom: 0px;
            }
            .person-gets{
                color: #32db64;
            }
            .person-gives{
                color: #f53d3d;
            }
            .person-details{
                color: #434a54;
            }
        }
    }
