index-page {
    .calculate-button{
        margin-bottom: 0px;
    }
    .already-paid-description{
        margin-top: 13px;
    }
    #expense-input{
        input{
            width: 100%;
        }
    }
    .add-expense-button{
        margin-right: 0px !important;
    }
    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        height: 0px !important;
    }
    .inputs-col{
        position: initial !important;
    }
}
