body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title, ion-label, ion-select, ion-searchbar {
    font-family: 'Montserrat' !important;
    line-height: 1.69 !important;
    letter-spacing: 0.2px !important;
  }

.toggle-ios {
    display: block !important;
}
.toggle-md {
    display: block !important;
}
.error-message{
    color: color($colors, danger) !important;
}

ion-label{
    color: color($colors, less-dark) !important;
}

ion-select{
    color: color($colors, dark) !important;
}

ion-searchbar{
    .searchbar-search-icon{
        color: color($colors, dark) !important;
    }
    input{
        color: color($colors, less-dark) !important;
    }
}

ion-title{
    div{
        font-size: 14px !important;
        color: color($colors, dark) !important;
        font-weight: 600 !important;
    }
}

ion-navbar{
    .bar-button-menutoggle{
        color: color($colors, dark) !important;
    }
    .back-button{
        color: color($colors, dark) !important;
    }
}

ion-item-divider{
    font-size: 14px !important;
    line-height: 1.93 !important;
    letter-spacing: 0.1px !important;
    color: color($colors, dark) !important;
    font-weight: 600 !important;
}
p{
    color: color($colors, less-dark) !important;
}
input{
    color: color($colors, dark) !important;
}
ion-alert{
    h2{
        color: color($colors, dark) !important;
    }
}

